/* colors */

$azul: #1ABFB7;
$rosa: #FF6968;
$laranja: #FAA143;
$branco: #FFFFFF;
$cinza-escuro: #333333;
$cinza-medio: #F0F0F0;
$cinza-claro: #F1F1F1;


/* sizes */

$font-xs: 16px;
$font-sm: 18px;
$font-md: 24px;
$font-lg: 32px;

h1, h2 {
	font-size: $font-lg; 
}

h3, h4 {
	font-size: $font-md;
}

$space-stack-xs: 12px;
$space-stack-sm: 24px;
$space-stack-md: 36px;
$space-stack-lg: 48px;


$space-inline-xs: 12px;
$space-inline-sm: 24px;
$space-inline-md: 36px;
$space-inline-lg: 48px;

$desktop-width-min: 760px;