@import "../../../node_modules/tiny-slider/dist/tiny-slider.css";

@import 'reset',
		'_config',
		'_header',
		'_form',
		'_footer';

body {
	background-color: $branco;
	font-family: 'Raleway', sans-serif;
}

main {
	@media screen and (min-width: 760px) {
		padding-top: 100px;
		/*
		display: flex;
		justify-content: space-between;
		align-content: stretch;
		height: calc(100% - 67px);
		*/
		/* altura do header */
	}

}

.container {
	width: 100%;
	padding: 0 30px;

	@media screen and (min-width: 760px) {
		display: flex;
		justify-content: center;
	}

}

section {
	padding: $space-stack-lg 0;
	text-align: center;

	.head__title {
		color: $branco;
		background-color: $rosa;
		text-align: center;
		text-transform: uppercase;
		font-size: $font-sm;
		display: initial;
	}

	.main__title {
		font-weight: 600;
		text-transform: uppercase;
		font-size: $font-lg;
		color: $cinza-escuro;
		text-align: center;
		margin-bottom: $space-stack-md;
		margin-top: $space-stack-sm;
		small {
			font-size: $font-sm;
			color: #888;
			text-align: center;
			margin-bottom: $space-stack-md;
			display: block;
		}
	}
	.description {
		font-size: $font-xs;
		line-height: 150%;
		margin-bottom: $space-stack-sm;
	}


}

.about {
	.profile {
		margin: 0 auto;
		display: block;
		margin-bottom: $space-stack-sm;
	}
	.button {
		margin: 0 auto;
		display: block;
	}
}

.benefits {
	background-color: #FFFAE8;

	&__list {
		text-align: left;

		&__item {
			line-height: 1.6;
			display: flex;
			align-items: center;
			margin-bottom: 16px;

			&__img {
				margin-right: $space-inline-xs; 
				height: 48px;
			}
		}
	}
}

.newsletter {
	background-image: url('../img/bg-news-mb.jpg');

	.main__title,
	.description {
		color: $branco;
	}

	.button {
		width: 114px;
	}
}

.attendance {

	&__info {
		&__box {
			margin-bottom: $space-stack-sm;

			&__img {
				margin-bottom: $space-stack-xs;
			}

			&__text {
				width: 70%;
				margin-left: auto;
				margin-right: auto;
			}
		}

	}
}

.instagram {
	&__link {
		color: $azul;
		text-decoration: none;
	}

	.tns-outer {
		width: 90%;
		margin: 0 auto;

		.tns-controls {
			position: relative;
			height: 25px;

			button {
				position: absolute;
				border: none;
				background: transparent;
				background: url('../img/arrow-slider.svg') no-repeat center;
				font-size: 0;
				width: 14px;
				height: 24px;

				&[data-controls="prev"] {
					left: -30px;
					top: 150px;
					transform: rotate(180deg);
				}
				&[data-controls="next"] {
					right: -30px;
					top: 150px;
				}
			}
		}

		.tns-nav {
			button {
				width: 9px;
				height: 9px;
				padding: 0;
				margin: 0 5px;
				border-radius: 50%;
				background: #ccc;
				border: 0;
				&.tns-nav-active {
					background: #999;
				}
			}
		}
	}
}

.contact {
	background-image: url('../img/bg-contato-mb.jpg');

	.main__title,
	.description {
		color: $branco;
	}
}