@import 'reset',
		'_config',
		'_header',
		'_form';

body {
	background-color: $branco;
	font-family: 'Raleway', sans-serif;
}

main {
	@media screen and (min-width: 760px) {
		padding-top: 100px;
		/*
		display: flex;
		justify-content: space-between;
		align-content: stretch;
		height: calc(100% - 67px);
		*/
		/* altura do header */
	}

	.container {
		width: 100%;
		padding: 0 30px;

		@media screen and (min-width: 760px) {
			display: flex;
			justify-content: center;
		}

	}
}

section {
	padding: $space-stack-lg 0;

	.head-title {
		color: $branco;
		background-color: $rosa;
		text-align: center;
		text-transform: uppercase;
		font-size: $font-sm;
		margin-bottom: $space-stack-sm;
	}

	.main-title {
		font-weight: 600;
		text-transform: uppercase;
		font-size: $font-lg;
		color: $cinza-escuro;
		text-align: center;
		margin-bottom: $space-stack-md;
		small {
			font-size: $font-sm;
			color: #888;
			text-align: center;
			margin-bottom: $space-stack-md;
			display: block;
		}
	}
	.description {
		font-size: $font-xs;
		line-height: 150%;
		margin-bottom: 16px;
	}


	&.about {
		.profile {
			margin: 0 auto;
			display: block;
			margin-bottom: $space-stack-sm;
		}
		.button {
			margin: 0 auto;
			display: block;
		}
	}

	&.benefits {
		background-color: #FFFAE8;
	}
}